.loginContainer {
    width: 850px;
}

.loginAside {
    color: white;
    background-color: rgba(0, 0, 0, 0) !important;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 576px) { 
    .loginAside {
        display: none;
    }
 }
